<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Redacted
body
	form(action='/',method="POST")
		input(type='text' name='userMsg')
		br
		button(type='submit') Submit
	div.response
	